# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
trust-admet-env/
.env.*

# Generated outputs
outputs/
*.pt
*.pth
*.ckpt
*.joblib
*.pkl
*.npy
*.npz

# ClearML
clearml.conf
.clearml/

# Logs
*.log
logs/

# OS/editor
.DS_Store
.vscode/
.idea/

# Hugging Face / caches
.cache/
hf_cache/
wandb/
